.main {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 5px solid blue;
}

.parentContainer {
  // border: 1px solid red;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  width: 600px;
  height: 1000px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.container {
  // border: 5px solid teal;
  width: 90%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image {
  border-radius: 10px;
}
.contentContainer {
  border: 1px solid red;
  margin-top: 20px;
  margin-bottom: 20px;
}
.heading {
  font-size: 30px;
  font-weight: 600;
}
.introSection {
  font-size: 13px;
}
.preparationContent {
}

.preparationContentHeading {
}
